#i_list{min-height:100%;
    .list_content{padding:.2rem .15rem;
        .title{margin-bottom:15px;font-size:.28rem;color:#555;display: block;
            &:link{color:#333;}
            &:visited{color:#999;}
        }
    }
    .page_content{overflow: hidden;padding:0 .22rem;
        li{float:left;width:.64rem;height:.4rem;line-height:.4rem;border:1px solid #e8e8e8;margin-left:.1rem;text-align:center;font-size:.22rem;color:#555;
            &:first-child{margin-left:0;}
            &.skip_one{width:1.08rem;}
            &.active{color:#333;border:none;font-weight:bold;}
            &.input{width:1rem;
                input{width:100%;height:100%;border:none;padding:0 .2rem;}
            }
        }
    }
    .detail_content{padding:.2rem .2rem;
        .detail_title{font-size:.32rem;margin:0;padding:.2rem 0 .4rem;text-align:center;}
        img{width:6rem;margin-bottom:.2rem;display: block;}
        .back_box{position:fixed;top:1rem;width:3rem;height:100%;}
    }
}

#i_login_content{
    
}